<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Summary And Daily Data</string>
			<key>FooterText</key>
			<string>Default only Coupon On. Availability always use Coupon On data for the display data.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Coupon On + Coupon Off</string>
			<key>Key</key>
			<string>display_all_data_usage</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
	<key>ApplicationGroupContainerIdentifier</key>
	<string>$(GRAPHPON_APP_GROUP_ID)</string>
</dict>
</plist>
